.govuk {
  font-family: 'GOVUK';
}
a{
  text-decoration: none;
}
.buttons{
  display: flex;
  justify-content: space-between;

}
.formTitle{
  font-size: 30px;
  font-weight: bold;
  margin-top: 40px;
}
.radioBtn{
  margin: 10px 0;
}
.container{
  width: 80%;
  margin: 0 auto;
}
.submitBtn{
  display: block;
  width: 120px;
  height: 40px;
  margin-top: 20px;
  margin-bottom: 50px;
  color: #fff;
  background-color: #00703C;
  border-radius: 6px;
}

input{
  width: 80%;
  font-size: 24px;
  display: block;
}
input[type="radio"]{
  display: inline-block;
  width: 40px;
  height: 30px;
}
input[type="date"]{
  width: 30%;
  height: 30px;
}
.navbar {
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 20px;
  font-weight: bold;
  font-size: 24px;
  text-transform: uppercase;
}

.left-nav {
  margin-right: auto;
}

.center-nav {
  margin: 0 auto;
  text-align: center;
  flex-grow: 1;
}

.blue-strip {
  height: 10px;
  background-color: #1d70b8;
}

.header {
  display: flex;
  justify-content: flex-start;
  align-items: left;
  height: 180px;
  padding: 20px;
  flex-direction: column;
}

.header-text {
  margin: 0;
  font-family: 'GOVUK';
  font-size: 36px;
  font-weight: bold;
  text-align: left;
}

.header-subtext {
  margin-top: 30px;
  font-family: 'GOVUK';
  font-size: 24px;
  font-weight: bold;
  text-align: left;
}


ul {
  list-style: disc;
  margin-top: 20px;
  margin-bottom: 0;
  padding-left: 20px;
}

li {
  margin-bottom: px;
}

.start-button {
  background-color: #00703c;
  color: #fff;
  font-size: 20px;
  font-family: 'GOVUK';
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

h3{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding: 35px;
  flex-direction: column;
  text-align: center;
}
h4{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 200px;
  padding: 35px;
  flex-direction: column;
  text-align: center;
}
.button1 {
  text-align: center;
  background-color: #00703c;
  color: #fff;
  font-size: 24px;
  padding: 20px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
}


.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.login-container input {
  margin-bottom: 10px;
}

.login-button,
.go-back-button {
  margin-top: 10px;
}

.go-back-button {
  background-color: #fff;
  border: 1px solid #000;
  color: #000;
}
.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.text-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.complationBox{
  width: 40%;
  text-align: center;
  color: white;
  padding: 50px;
  margin: 50px 30px;
  background-color: #00703C;
}
.complationBox .title{
  font-size: 38px;
  font-weight: bold;
}
.complationBox .refNumber{
  font-size:28px;
  margin-top: 20px;
}
.complationBox .refNumber span{
  font-weight: bold;
}
.bottomContent{
  margin: 50px 30px;
}
.bottomContent p{
  font-size: 25px;
}
.bottomContent .title{
  font-size: 34px;
  font-weight: bold;
}

